table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
}

table thead tr {
    background: #871801;
    color: azure;
    text-align: left;
}

.tablas-vinculacion{
    top:10%;
}